* {
    margin: 0;
    padding: 0;
    font-family: kanit;
}

.logo {
    padding: 20px;
    background: url(../img/F1logo.png) no-repeat;
    background-size: cover;
    background-position: center;
    /* background-position: center; */
}

.cabecera {
    padding: 15px 2.5%;
    background-color: #524d4d;
    display: flex;
    justify-content: space-between;
}

.menu .et-a {
    padding: 20px 10px;
    text-decoration: none;
    color: white;
}

.menu .et-a:hover {
    cursor: pointer;
    background-color: #524d4d;
}

.cuerpo {
    background: url(../img/fondo.png) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}

.titulo {
    color:aliceblue;
    text-align: center;
}